.App {
  text-align: center;
}

#new-item-container {
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
	
	.add-item {
		width: 30%;
	}
}


#item-filter-container {
	width: 100%;
	margin-left: 1em;
	font-weight: bold;
	font-size: 1.125em;
	
	label,
	select {
		float: left;
	}
}

#item-list-container {
	clear: left;
	padding-top: 1em;
}

#stocked-item-select {
	background-color: #fff;
	width: 10em;
	margin-left: 1em;
}


#kitchen-details {
	.kitchen-name {
		font-size: 2.75em;
		margin-bottom: 0px;
	}
	.kitchen-address {
		margin-top: 0px;
		margin-bottom: 2em;
		font-size: 1em;
		color: lightgray;
	}
}

.kichen-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;

  .item-icon {
    flex: 1;
    
    img.png-icon {
	  	height: 50px;
	  }
  }



  .item-qty {
    flex: 2;
    text-align: right;
  }

  .item-name,
  .item-expire {
  	flex: 4;
  }

  .item-actions {
  	flex: 2;
  }
}

