.App {
  text-align: center;

  small {
  	font-size: 1rem;
  }
}

#new-item-container {
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
	
	.add-item {
		width: 30%;
	}
}

#item-modal {
	padding-bottom: 1em;
}

#item-filter-container {
	widows: 100%;
	text-align: left;
	border-top: 1px lightgray solid;
 	padding: 1rem 3rem;

}

.location-filters {
  display: table;
  margin: auto;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  vertical-align: top;
  width: 100%;
  border-bottom: 1px lightgray solid;
  
  
  &.half {
    width: 50%;
  }
  &.third {
    width: 33.3%;
  }
  &.quarter {
    width: 25%;
  }
}
.inline-label-form {
  > label {
    width: 14%;
    display: table-cell;
    padding-top: 9px;
    margin: 0;
    text-align: left;
    padding-right: 15px;
    vertical-align: top;
  }
}

.location-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 100%;
  
  label{
    font-weight:400;
    display: table;
    width: 50%;
    flex-basis: 50%;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: baseline;
    > *{
     display: table-cell;
     &:last-child{
      // width: 100%;
      padding-right: 15px;
     }
     &[class*="icon-"]{
      padding-right: 7px;
     }
    }
  }
  
  &.quarter label {
    flex-basis: 25%;
    width: 25%;
  }
}

input[type="checkbox"],
input[type="radio"]{
  display: inline;
  width: auto;
  margin-right: 7px;
}




#item-list-container {
	clear: left;
	padding-top: 1em;
}

#stocked-item-select {
	background-color: #fff;
	width: 10em;
	margin-left: 1em;
}


#kitchen-details {
	.kitchen-name {
		font-size: 2.75em;
		margin-bottom: 0px;
	}
	.kitchen-address {
		margin-top: 0px;
		margin-bottom: 2em;
		font-size: 1em;
		color: lightgray;
	}
}

.kichen-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;

  .item-icon {
    flex: 1;
    
    img.png-icon {
	  	height: 50px;
	  }
  }

  



  .item-qty {
    flex: 3;
    text-align: right;
  }

  .item-name {
    flex: 4;
  	padding-right: 1rem;
    width: 90%;

  	p.item-note {
	    font-size: .55em;
	    color: #737373;
	}
  }

  .item-expire {
  	flex: 4;
  }

  .item-actions {
  	flex: 2;
  }

}

#credits{
	margin-top: 2em;

	.flaticon-credits{
		margin-top: 1em;
	}
}


